BE_ORIGIN_URL=http://localhost:5055
FE_ORIGIN_URL=http://localhost:5173
DATABASE_URL=postgres://user:password@host:port/postgres
JWT_SECRET_KEY=""

# https://qris.pw | Payment Gateway QRIS Indonesia Terima Pembayaran Instan
QRIS_PW_API_KEY=""
QRIS_PW_SECRET_KEY=""

# https://console.cloud.google.com | Google
CLIENT_GOOGLE_ID=""
CLIENT_GOOGLE_SECRET=""

# https://imagekit.io/dashboard/developer | Cloud Store
IMAGEKIT_PUBLIC_KEY=""
IMAGEKIT_PRIVATE_KEY=""
IMAGEKIT_URL_ENDPOINT=""

# https://vip-reseller.co.id | Pusat Reseller dan H2H TopUp Game Termurah
VIP_API_ID=""
VIP_API_KEY=""
VIP_API_SIGN=""

# https://aistudio.google.com | Gemini AI
GEMINI_API_KEY=""
                 